In [2]:
req = {
    "Text": "Мне тридцать. Год назад рассталась с любимым человеком, возможно, он единственный кто искренне любил меня. Не знаю как пережить трудности, которые меня преследуют всю жизнь. Достигла какого-то придела, постоянно думаю, как покончить с собой. Моя мама повесилась, когда мне было три, наверно, только это мешает мне покончить с собой. У меня есть дочь, ей 10, я не хочу повторять, то что сделала моя мама, но постоянная депрессия не даёт мне жить нормально. У меня никого нет, не с кем поговорить. Выходные похожи на ад - одиночество меня съедает. Всё было иначе пару лет назад, я просыпалась рядом с родным человеком, он был тем с кем я была по-ностоящему счастлива. Я всё испортила, как всегда сама. Я сама виновата, в том что происходит в моей жизни, теперь я снова одна и весь мир обрушился на меня. У меня финансовые трудности, проблемы с жильём, не знаю смогу ли справится с эти когда-нибудь. Я приношу несчастье в жизни других людей, я приношу боль. Мне кажется моей дочери будет лучше без меня. Очень многое за то, чтобы меня не было в этом мире. Я знаю, что у меня проблемы, сомневаюсь, что с этим можно справится раз и навсегда. Мне всё тяжелее справляться с депрессией. Я не рассказываю о своих проблемах, могла бы поговорить с кем-то, наверно, но мне очень стыдно за моё состояние и мне кажется, что у меня нет достаточно близкого человека, с котором я бы могла поговорить об этом. Возможно, тот кто пережил это и справился с этим состоянием, подскажет как бороться и жить дальше. ",
    "SourceLanguageCode": "ru",
    "TargetLanguageCode": "en"
}

In [3]:
import boto3

In [4]:
translate = boto3.client(service_name='translate')

In [90]:
result = translate.translate_text(Text="Hello, World", 
            SourceLanguageCode="en", TargetLanguageCode="de")
print('TranslatedText: ' + result.get('TranslatedText'))
print('SourceLanguageCode: ' + result.get('SourceLanguageCode'))
print('TargetLanguageCode: ' + result.get('TargetLanguageCode'))

TranslatedText: Hallo, Welt
SourceLanguageCode: en
TargetLanguageCode: de

In [8]:
from pyexcel_ods import get_data
import json

In [10]:
def translateRussian(text):
    result = translate.translate_text(Text=text, 
            SourceLanguageCode="ru", TargetLanguageCode="en")
    
    return result.get('TranslatedText')

In [23]:
data = get_data("Depressive data.ods")
data = data.pop('Sheet1')

In [112]:
failed

[66,
 67,
 72,
 158,
 225,
 264,
 273,
 372,
 381,
 432,
 532,
 556,
 582,
 621,
 651,
 668,
 669,
 677,
 728,
 742,
 749,
 755,
 762,
 768,
 819,
 824,
 825,
 827,
 838,
 883,
 890,
 915,
 969,
 975,
 981,
 1042,
 1043,
 1046,
 1083,
 1088,
 1090,
 1137,
 1199,
 1215,
 1275,
 1305,
 1379,
 1385,
 1438,
 1460,
 1467,
 1506,
 1514,
 1576,
 1581,
 1663,
 1776,
 1778,
 1799,
 1823,
 1839,
 1846,
 1858,
 1874,
 1889,
 1892,
 1940,
 1950,
 2022,
 2034,
 2041,
 2047,
 2066,
 2068,
 2078,
 2133,
 2156,
 2209,
 2230,
 2237,
 2241,
 2258,
 2310,
 2417,
 2424,
 2449,
 2458,
 2520,
 2532,
 2565,
 2569,
 2600,
 2704,
 2769,
 2836,
 2840,
 2888,
 2895,
 2917,
 2934,
 2952,
 3030,
 3036,
 3057,
 3097,
 3156,
 3173,
 3249,
 3250,
 3251,
 3252,
 3278,
 3280,
 3288,
 3353,
 3355,
 3367,
 3487,
 3489,
 3511,
 3542,
 3552,
 3648,
 3656,
 3667,
 3690,
 3730,
 3751,
 3759,
 3792,
 3804,
 3825,
 3835,
 3852,
 3860,
 3886,
 3887,
 3895,
 3921,
 3945,
 4008,
 4024,
 4029,
 4083,
 4104,
 4124,
 4155,
 4171,
 4194,
 4228,
 4258,
 4275,
 4281,
 4381,
 4384,
 4405,
 4426,
 4450,
 4457,
 4466,
 4479,
 4488,
 4525,
 4535,
 4566,
 4578,
 4591,
 4608,
 4616,
 4657,
 4664,
 4709,
 4737,
 4738,
 4779,
 4788,
 4796,
 4805,
 4812,
 4826,
 4829,
 4832,
 4846,
 4853,
 4857,
 4858,
 4898,
 4962,
 4969,
 4975,
 4986,
 5040,
 5077,
 5104,
 5109,
 5195,
 5235,
 5266,
 5276,
 5290,
 5337,
 5361,
 5365,
 5366,
 5391,
 5408,
 5444,
 5460,
 5462,
 5465,
 5467,
 5469,
 5491,
 5522,
 5533,
 5545,
 5550,
 5559,
 5564,
 5606,
 5616,
 5656,
 5668,
 5672,
 5689,
 5720,
 5770,
 5860,
 5870,
 5895,
 5930,
 5949,
 5959,
 6000,
 6019,
 6071,
 6119,
 6120,
 6122,
 6158,
 6182,
 6185,
 6193,
 6249,
 6268,
 6341,
 6345,
 6361,
 6364,
 6372,
 6391,
 6408,
 6452,
 6471,
 6495,
 6508,
 6570,
 6672,
 6694,
 6698,
 6709,
 6715,
 6718,
 6728,
 6753,
 6814,
 6826,
 6843,
 6859,
 6913,
 6915,
 6935,
 6982,
 7058,
 7061,
 7074,
 7131,
 7242,
 7294,
 7321,
 7324,
 7372,
 7486,
 7563,
 7636,
 7650,
 7659,
 7752,
 7783,
 7794,
 7796,
 7849,
 7876,
 7879,
 7962,
 7970,
 8034,
 8040,
 8152,
 8199,
 8210,
 8218,
 8230,
 8240,
 8315,
 8338,
 8377,
 8440,
 8444,
 8472]

In [113]:
len(failed)/i

0.03645343367826905

In [114]:
len(failed)

310

In [119]:
data[1:8503][0]

["Once upon a time, I was a kind romantic who sought to help anyone who asked. I never felt sorry for myself, I believed in humanity. However, all this was false, surrogate friendship and some incomprehensible relationship. The girl who swore that she loved, eventually changed and went to another. Another didn't appear - I hopeless, and simply, without enough wealth and own housing. Parents with schizophrenia (F20.2) No one has ever supported me and does not support me. So, giving a piece of myself to everyone, I lost my warmth already, I became indifferent, apathy. The former girl without any effort found a new one, which immediately married her and takes her to different countries of the world. Of course, I took any job to show that it wasn't worse, but I was often deceived - underpaid or not paid at all. I'm just a loser who lost the meaning of life. My situation is not saved even by appearance - it is terrible (simply freak), because I often envy those who are lucky with appearance, how they are loved and how everything is given easily. I do my favorite thing, but often visit the thoughts that nobody needs it, just like me, all this is vain, meaningless. It affects the emptiness inside me. Often surprised how many were lucky, how at them everything develops, and why nothing develops at me, why everything goes out somehow wrong - that will lose my documents, then will not pay it to me, it is my place will be closed, it is me used and abandoned, it is me that parents are like this. Sometimes I want everyone around to be in my place, feel it all on myself and understand what it feels like, but even deeper, I just want to stop it all, just to interrupt my existence.",
 1,
 32]

In [120]:
data2 = [ k[0] for j, k in enumerate(data[1:8503]) if j not in failed ]

In [122]:
len(data2)

8192

In [116]:
data[8503][0]

"My mother is constantly complaining to me about everything shouting at me, even for no reason beats the belt, mostly on the back, constantly deprives me of everything, already three times tried to kill herself because of her and it didn't work out. I just hates. Dad protects and tries to convey to her that this case will not help, and she does not listen and continues.Always messes with younger, I do not even accept as a native daughter. I'm afraid of her since 9 years . Offends, humiliates. I have not felt a mother's love for a long time. School teacher ridicules and humiliates. I don't know how to move on. Please help me!"

In [110]:
#failed = [66, 67]
#i = 69
l = 8504 # len(data)/10
while i < l:
    try:
        data[i][0] = translateRussian(data[i][0])
    except Exception:
        failed.append(i)
    if i % 100 == 0:
        data1.update({"Sheet1": data})
        save_data("Depressive translated data.ods", data1)
        print(i)
    i += 1

1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500

In [111]:
data1.update({"Sheet1": data})
save_data("Depressive translated data.ods", data1)

In [109]:
i

1592

In [38]:
data1 = get_data("Depressive data.ods")

In [40]:
from pyexcel_ods import save_data

In [42]:
len(data)

64042

In [43]:
data1.keys()

odict_keys(['Sheet1'])

In [44]:
data1.update({"Sheet1": data})
save_data("Depressive translated data.ods", data1)

In [52]:
64000 * .04

2560.0

In [65]:
list(enumerate(['a', 'b', 'c']))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [88]:
chars = 0
for j, t in enumerate(data[i:8504]):
    chars += len(str(t[0]))

print(k)
print(chars/1000000 * 15)

8504
100.000155

In [84]:
j

63972

In [78]:
j

6330

In [72]:
len(data[i:6397])

6331

In [62]:
69.273536 * 15

1039.10304

In [ ]:
data[i:]

In [124]:
import pandas as pd

In [125]:
df = pd.read_csv("toxic-train.csv")

In [126]:
len(df)

159571

In [127]:
df['suicidality'] = [0] * len(df)

In [134]:
df = df.drop('id', axis=1)

In [141]:
df.columns[1:-1]

Index(['toxic', 'severe_toxic', 'obscene', 'threat', 'insult',
       'identity_hate'],
      dtype='object')

In [130]:
df2 = pd.DataFrame(data2, columns=["comment_text"])

In [146]:
res = pd.concat([df, df2])

In [149]:
len(res)

167763

In [150]:
res.to_csv("toxic_suicide.csv")

In [145]:
df2.head()

,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate,suicidality
0,"Once upon a time, I was a kind romantic who so...",0,0,0,0,0,0,1
1,Hello! I wake up every day with the idea why d...,0,0,0,0,0,0,1
2,I'm having a problem with a girl. I can't bear...,0,0,0,0,0,0,1
3,My whole life is one hell in which I burn all ...,0,0,0,0,0,0,1
4,I want to sleep and not wake up. Every day the...,0,0,0,0,0,0,1